<div class="new-note">
  <div class="new-note-container">
    <ul class='errors' ng-if="errors">
      <li ng-repeat="error in errors">
        {{error}}
      </li>
    </ul>

    <form class="form">
      <h1>
        Edit Note.id title
      </h1>

      <fieldset class="form-group">
        <label class="control-label" for="title">
          Title
        </label>
        <input class="form-control" name="title" ng-model="note.header" />
      </fieldset>

      <fieldset class="form-group">
        <label class="control-label" for="category">
          Category
        </label>
        <input class="form-control" name="category" ng-model="note.categoryId" />
      </fieldset>

      <fieldset class="form-group">
        <label class="control-label" for="description">
          Description
        </label>
        <textarea class="form-control" name="description" ng-model="note.description" placeholder="A short description of this note"></textarea>
      </fieldset>

      <fieldset class="form-group">
        <label class="control-label" for="content">
          Content
        </label>
        <textarea class="form-control" name="Content" ng-model="note.content" placeholder="The meat of your note"></textarea>
      </fieldset>

      <button type="submit" class="btn btn-success" ng-click="updateNote(note)" ng-disabled="updating">
        save
      </button>
    </form>
  </div>
</div>
