<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>2-way, 1-way, 1-time binding</title>
  <script src="js/angular.min.js"></script>
  <script src="js/app.module.js"></script>
  <script src="js/app.bindingController.js"></script>
</head>
<body data-ng-app="BindingApp">
  <h1>
      2-way, 1-way, 1-time binding
  </h1>
  <div data-ng-controller="BindingController as BindingCtrl">
    <button type="button" data-ng-click="BindingCtrl.showNumberOfWatchers()">
      Log # of Watchers
    </button>

    <button type="button" data-ng-click="BindingCtrl.setFullName()">
      Set Full Name
    </button>

    <div>
      <!-- 1-time binding -->
      Full Name is: {{ :: BindingCtrl.fullName }}
    </div>
    <button type="button" data-ng-click="BindingCtrl.logFirstName()">
      Log First Name
    </button>
    <button type="button" data-ng-click="BindingCtrl.logFullName()">
      Log Full Name
    </button>

    <div>
      <!-- 2-way binding -->
      <input type="text" data-ng-model="BindingCtrl.firstName">
    </div>
  </div>
</body>
</html>
