<!DOCTYPE html>
<html lang="en" ng-app="gemStore">
<head>
  <meta charset="UTF-8">
  <title>Angular.js training</title>
  <link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="public/css/styles.css">
</head>
<body ng-controller="StoreController as store" class="container">
  <header>
    <h1 class="text-center">Flatlander Crafted Gems</h1>
    <h2 class="text-center">– an Angular store –</h2>
  </header>
  <div class="list-group">
    <div ng-repeat="product in store.product" ng-hide="product.soldOut" class="list-group-item clearfix">
      <h3>
        {{product.name | uppercase}}
        <em class="pull-right">
          {{product.price | currency:"UAH"}}
        </em>
      </h3>
      <button ng-show="product.canPurchase" class="btn btn-primary pull-right">
        Button text
      </button>
      <div class="gallery" ng-show="{{product.images.length}}" ng-controller="GalleryController as gallery">
        <div class="img-wrap">
          <img ng-src="{{product.images[gallery.current]}}"/>
        </div>
        <p>
          {{product.description}}
        </p>
        <ul class="img-thumbnails clearfix">
          <li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
            <img ng-src="{{image}}" />
          </li>
        </ul>
      </div>
      <section class="tab" ng-controller="TabController as tab">
        <ul class="nav nav-pills">
          <li ng-class="{active: tab.tab === 1}">
            <a href ng-click="tab.setTab(1)">Description</a></li>
          <li ng-class="{active: tab.tab === 2}">
            <a href ng-click="tab.setTab(2)">Specs</a></li>
          <li ng-class="{active: tab.tab === 3}">
            <a href ng-click="tab.setTab(3)">Reviews</a></li>
        </ul>
        <div ng-show="tab.isSet(1)">
          <h4>Description</h4>
          <blockquote>{{product.description}}</blockquote>
        </div>
        <div ng-show="tab.isSet(2)">
          <h4>Specs</h4>
          <blockquote>Shine: {{product.shine}}</blockquote>
        </div>
        <div ng-show="tab.isSet(3)">
          <h4>Reviews</h4>
          <blockquote></blockquote>
        </div>
      </section>
    </div>
  </div>

  <script type="text/javascript" src="public/js/angular.min.js"></script>
  <script type="text/javascript" src="public/js/app.js"></script>
</body>
</html>
