/*my styles*/

.small-image.thumbnail {
  width: 40px;
  height: 40px;
  margin: 0 10px 0 0;
}

.small-image.thumbnail:hover {
  cursor: pointer;
  border-color: #337ab7;
}

.small-image.thumbnail.active {
  border-color: #337ab7;
}

.gallery .img-thumbnails {
  padding: 0;
}

.ng-invalid.ng-dirty {
  border-color: #fa787e;
}

.ng-valid.ng-dirty {
  border-color: #78fa89;
}
