<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Custom Services with .provider()</title>
  <script src="js/angular.min.js"></script>
  <script src="js/app.module.js"></script>
  <script src="js/app.shoppingListController.js"></script>
  <script src="js/app.shoppingList1Controller.js"></script>
  <script src="js/app.shoppingListServiceProvider.js"></script>

  <style>
    .error {
      color: red;
      font-weight: 900;
    }
  </style>
</head>
<body data-ng-app="MyApp">
  <h1>
    Custom Services with .provider()
  </h1>

  <!-- Preconfigured List -->
  <div id="list" data-ng-controller="ShoppingListController as list">
    <h3>Shopping List #1</h3>

    <input type="text" data-ng-model="list.itemName" placeholder="Enter item name">
    <input type="text" data-ng-model="list.itemQuantity" placeholder="Enter quantity">

    <button type="button" data-ng-click="list.addItem()">Add Item</button>

    <ol>
      <li data-ng-repeat="item in list.items">
        {{ item.quantity }} of {{ item.name }}
        <button type="button" data-ng-click="list.removeItem($index)" title="Remove {{ item.name }}">x</button>
      </li>
    </ol>

    <div class="error">{{ list.errorMessage }}</div>
  </div>

  <!-- Configured List by our self -->
  <div id="list1" data-ng-controller="ShoppingList1Controller as list1">
    <h3>Shopping List #2</h3>

    <input type="text" data-ng-model="list1.itemName" placeholder="Enter item name">
    <input type="text" data-ng-model="list1.itemQuantity" placeholder="Enter quantity">

    <button type="button" data-ng-click="list1.addItem()">Add Item</button>

    <ol>
      <li data-ng-repeat="item in list1.items">
        {{ item.quantity }} of {{ item.name }}
        <button type="button" data-ng-click="list1.removeItem($index)" title="Remove {{ item.name }}">x</button>
      </li>
    </ol>

    <div class="error">{{ list1.errorMessage }}</div>
  </div>
</body>
</html>
