<main class="container" role="main">
<h2>Cash left to enter races: <span>{{cashLeft() | currency:'USD':true}}</span> </h2>
<ul>
  <li class="card" *ngFor="let race of races" [class.racing] = "race.isRacing">
    <div class="panel-body">
      <div class="photo">
        <img [src] = "race.image" [alt] = "race.imageDescription"/>
      </div>
      <table class="race-info">
        <tr>
          <td>
            <h3>{{race.name}}</h3>
            <p class="date">{{race.date | date:'MMM d, y, h:MM a'}}</p>
            <p class="description">{{race.about}}</p>
            <p class="quantity-in-stock" *ngIf="!race.inStock">
              <em>Out of Stock</em>
            </p>
            <p class="quantity-in-stock" *ngIf="race.inStock">
              {{race.inStock}} In stock
            </p>
          </td>
          <td>
            <p class="price">{{race.entryFee | currency:'USD':true}}</p>
          </td>
          <td>
            <div class="select-quantity">
              <button class="derease-button" (click)="downQuantity(race)">-</button>
              <input type="text" class="quantity-value" [value]="race.quantity" min="0" max="{{race.inStock}}" (input)="checkValue(race, $event.target.value)">
              <button class="increase-button" (click)="upQuantity(race)">+</button>
            </div>
          </td>
          <td>
            <button class="button" *ngIf="!race.isRacing" (click)=" enterRace(race)">Enter Race</button>
            <div *ngIf="race.isRacing">
              <p class="status">Racing</p>
              <button class="button-cancel" (click)="cancelRace(race)">Cancel Race</button>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </li>
</ul>
<div class="price-total">
  <h3>Total cost:</h3>
  <p>{{totalCost() | currency:'USD':true}}</p>
</div>
</main>
