<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Directives with Transclude</title>
  <script src="js/angular.min.js"></script>
  <script src="js/app.module.js"></script>
  <script src="js/app.shoppingList1Controller.js"></script>
  <script src="js/app.shoppingListFactory.js"></script>
  <script src="js/app.shoppingListDirective.js"></script>
  <script src="js/app.shoppingListDirectiveController.js"></script>

  <style>
    .error.is-active {
      display: block;
    }

    .error {
      color: red;
      font-weight: 900;
      display: none;
    }

    .text-uc {
      text-transform: uppercase;
    }

    .shopping-list-holder {
      display: flex;
      justify-content: space-between;
    }
  </style>
</head>
<body data-ng-app="ShoppingListDirectiveApp">
  <h1>
      Directives with Transclude
  </h1>

  <!-- LIST #1 - unlimited items -->
  <div id="list1" data-ng-controller="ShoppingList1Controller as list1">
    <h3>Shopping List #1 {{ list1.title }}</h3>

    <input type="text" data-ng-model="list1.itemName" placeholder="Enter item name">
    <input type="text" data-ng-model="list1.itemQuantity" placeholder="Enter quantity">

    <button type="button" data-ng-click="list1.addItem()">Add Item</button>

    <div class="shopping-list-holder">
      <shopping-list
        id="list1"
        class="shopping-list list1"
        data-items="list1.items"
        data-title="{{list1.title}}"
        data-on-remove="list1.removeItem(index)">

        <div>
          warning! warning! {{list1.warning}}
        </div>
      </shopping-list>

      <shopping-list
        id="list2"
        class="shopping-list list2"
        data-items="list1.items"
        data-title="{{list1.title}}"
        data-on-remove="list1.removeItem(index)">

        <div class="message-error">
          <header>
            <h3>warning! warning!</h3>
          </header>

          <p>
            {{list1.warning}}
          </p>
        </div>

      </shopping-list>
    </div>
  </div>
</body>
</html>
