<section class="tab">
  <ul class="nav nav-pills">
    <li ng-class="{active: navTab.setActive(1)}">
      <a href ng-click="navTab.setTab(1)">Description</a></li>
    <li ng-class="{active: navTab.setActive(2)}">
      <a href ng-click="navTab.setTab(2)">Specs</a></li>
    <li ng-class="{active: navTab.setActive(3)}">
      <a href ng-click="navTab.setTab(3)">Reviews</a></li>
  </ul>
  <!-- tabs content -->
  <product-description></product-description>
  <product-specs></product-specs>
  <product-reviews></product-reviews>
</section>
