<h1>
  Angular Reading List of Awesome
</h1>

<div class="row" ng-controller="ReadingListController as readingListCtrl">
  <button class="btn btn-success" >
    {{showForm}}
  </button>

  <hr />

  <review-form ng-show="showForm"></review-form>

  <ul class="list-unstyled col-sm-12">
    <li class="book row" ng-repeat="book in books">
      <aside class="col-sm-3">
        <a href="http://www.amazon.com/gp/product/{{book.isbn}}">
          <img ng-src="http://images.amazon.com/images/P/{{book.isbn}}.01.ZTZZZZZZ.jpg" alt="Cover of {{book.title}}" class="full">
        </a>
        <p ng-class="{goodRating: book.rating >= 3}" class="rating">
          {{book.rating}} / 5
        </p>
      </aside>
      <div class="col-sm-9">
        <h3>
          <a href="http://www.amazon.com/gp/product/{{book.isbn}}"
            >
            {{book.title}}
          </a>
        </h3>
        <cite class="text-muted">
          Written by {{book.author}}
        </cite>
        <p>
          {{book.review}}
        </p>
        <ul class="list-unstyled">
          <li ng-repeat="(genre, state) in book.genres" ng-show="state">
            <span class="label label-primary">
              {{genre}}
            </span>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
