<div class="new-note">
  <div class="new-note-container">
    <ul class='errors' ng-if="errors">
      <li ng-repeat="error in errors">
        {{error}}
      </li>
    </ul>

    <form class="form">
      <h1>
        Edit "{{notesEditCtrl.note.title}}"
      </h1>

      <fieldset class="form-group">
        <label class="control-label" for="title">
          Title
        </label>
        <input class="form-control" name="title" ng-model="notesEditCtrl.note.title" />
      </fieldset>

      <fieldset class="form-group">
        <label class="control-label" for="description">
          Description
        </label>
        <textarea class="form-control" name="description" ng-model="notesEditCtrl.note.description" placeholder="A short description of this note"></textarea>
      </fieldset>

      <fieldset class="form-group">
        <label class="control-label" for="content">
          Content
        </label>
        <textarea class="form-control" name="Content" ng-model="notesEditCtrl.note.content" placeholder="The meat of your note"></textarea>
      </fieldset>

      <button type="submit" class="btn btn-success" ng-click="updateNote(notesEditCtrl.note)" ng-disabled="updating">
        save
      </button>
    </form>
  </div>
</div>
