<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shopping List With Modules</title>
  <!-- libs -->
  <script src="lib/angular.min.js"></script>

  <!-- Modules -->
  <script src="src/shoppingList/app.shoppingList.module.js"></script>
  <script src="src/spinner/app.spinner.module.js"></script>

  <!-- shoppingList -->
  <script src="src/shoppingList/app.shoppingList.controller.js"></script>
  <script src="src/shoppingList/app.shoppingList.factory.js"></script>
  <script src="src/shoppingList/app.shoppingList.component.js"></script>
  <script src="src/shoppingList/app.shoppingListComponent.controller.js"></script>
  <script src="src/shoppingList/app.weightLossFilter.service.js"></script>

  <!-- spinner -->
  <script src="src/spinner/app.spinner.component.js"></script>
  <script src="src/spinner/app.spinnerComponent.controller.js"></script>

  <!-- styles -->
  <link rel="stylesheet" href="css/styles.css">

</head>
<body data-ng-app="ShoppingList">
  <h1>
    Shopping List With Modules
  </h1>

  <!-- LIST #1 - unlimited items -->
  <div id="list1" data-ng-controller="ShoppingListController as list">
    <h3>Shopping List #1</h3>

    <input type="text" data-ng-model="list.itemName" placeholder="Enter item name">
    <input type="text" data-ng-model="list.itemQuantity" placeholder="Enter quantity">

    <button type="button" data-ng-click="list.addItem()">
      Add Item
    </button>

    <span data-ng-bind="list.lastRemoved"></span>

    <shopping-list
      data-items=":: list.items"
      data-title="{{ list.title }}"
      data-on-remove="list.removeItem(index)"></shopping-list>
  </div>

  <shopping-list-spinner></shopping-list-spinner>
</body>
</html>
