html {
  height: 100%;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: linear-gradient(#0d263c,#030714) no-repeat fixed;
  color: #ffffff;
  height: 100%;
  margin: 20px;
}

h1 {
  color: #66d9f7;
}

img {
  vertical-align: top;
}
